* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v8_72 {
  width: 399px;
  height: 522px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.v8_74 {
  width: 186px;
  height: 93px;
  background: rgba(74,33,123,1);
  opacity: 1;
  position: absolute;
  top: 409px;
  left: 107px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v8_75 {
  width: 106px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 423px;
  left: 158px;
  font-family: Jacques Francois;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: center;
}
.v8_76 {
  width: 123px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 149px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v8_78 {
  width: 315px;
  color: rgba(175,175,175,1);
  position: absolute;
  top: 98px;
  left: 49px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
